<% layout("./layouts/boilerplate") %>

<body>

    <div class="about-section">
      <div class="about-main">
            <h1 class="mb-5">
                <span>I BUILD </span>
                <span>WEB </span>
                <span>WORLDS </span>
                <span>THAT AMAZE </span>
             </h1>
            <p> From design to deployment, I specialize in building modern websites that are fast, scalable, and easy to use. I believe in writing clean code, crafting intuitive interfaces, and delivering solutions that make an impact for both users and businesses.</p>
            <a class="btn btn-primary mt-3" href="/about">About me</a>
      </div>
      <!-- <br> -->
      <div class="about-service">
            <br>
            <h1 ><B>Services</B></h1>
            <h2>CUSTOM WEBSITE DEVELOPMENT</h2>
            <p>I create responsive, modern, and tailored websites that reflect your brand and engage your audience.</p>
            <h2>FRONTEND</h2>
            <p>Clean, interactive, and visually appealing interfaces built with the latest technologies for a seamless user experience.</p>
            <h2>BACKEND & API DEVELPOMENT</h2>
            <p>Secure and scalable backend systems with smooth API integrations to power your website or application.</p>
            <h2>Performance & SEO Optimization</h2>
            <p>I optimize websites for speed, search engines, and overall performance so your business stands out online.</p>
            <h2>Maintenance & Support</h2>
            <p>Ongoing updates, bug fixes, and feature enhancements to keep your website running at its best.</p>
      </div>
</div>

</body>

