<div class="footer">
   <div class="footer-main">
        <h1>SAMRIDHI</h1>
        <h2>FULL STACK DEVELOPER</h2>
        <p>Building seamless digital experiences, from front to back. End-to-end web solutions — where creativity meets technology. </p>
    </div>
    <div class="end">
        <!-- <p><i class="fa-regular fa-copyright"></i> Copyrights. All rights reserved</p> -->
        <div class="end-links">
            <a href="https://www.linkedin.com/in/samridhi-chouhan-437663381/" class="end-icon"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/SamridhiChouhan" class="end-icon"><i class="fa-brands fa-github"></i></a>
            <a href="https://x.com/Samridhi_010" class="end-icon"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://dev.to/samridhi_010" class="end-icon"><i class="fa-solid fa-link"></i></a>
            <a href="" class="end-icon"><i class="fa-solid fa-ellipsis"></i></a>
        </div>
        <p><i class="fa-regular fa-copyright"></i> Copyrights. All rights reserved</p>

    </div>
    <!-- <p>Copyrights. All rights reserved</p> -->
</div>