<% layout("./layouts/boilerplate") %>

<div class="skill-section ">
    <h2>MY SKILLS</h2>

    <div class="skills">
        <div class="skill-cards">
            <div class="skill-logo">
                <div class="skill-img"><div class="logo logo-react"></div></div>
                <div class="skill-img"><div class="logo logo-mongo"></div></div>
                <div class="skill-img"><div class="logo logo-sql"></div></div>
                <div class="skill-img"><div class="logo logo-node"></div></div>
            </div>
            <div class="skill-logo">
                <div class="skill-img"><div class="logo logo-express"></div></div>
                <div class="skill-img"><div class="logo logo-js"></div></div>
                <div class="skill-img"><div class="logo logo-css"></div></div>
                <div class="skill-img"><div class="logo logo-html"></div></div>
            </div>
        </div>

        <div class="skill-desc">
            <span>0.8</span>
            <p>Years <br>Experience <br> Working </p>
        </div>
    </div>

    <div class="other-skills">
        <h5>ADDITIONAL SKILLS</h5>
        <div class="other-bar">
            <!-- <div class="skill-img"><div class="logo logo-js"></div></div> -->
             <div class="other-img"><div class="other-logo logo-tailwind"></div></div>
             <div class="other-img"><div class="other-logo logo-bootstrap"></div></div>
             <div class="other-img"><div class="other-logo logo-git"></div></div>
             <div class="other-img"><div class="other-logo logo-github"></div></div>
             <!-- <div class="other-img"><div class="other-logo logo-js"></div></div>
             <div class="other-img"><div class="other-logo logo-js"></div></div>
             <div class="other-img"><div class="other-logo logo-js"></div></div>
             <div class="other-img"><div class="other-logo logo-js"></div></div> -->

        </div>
    </div>
<!--     
    <div class="skill-bar ">
        <div class="skill-logo">
            <div class="skill-img logo-js" ></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(255,215,8);"></div>
        </div>
    </div>

    <div class="skill-bar mt-3">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(0,216,255);"></div>
        </div>
        <div class="skill-logo">
            <div class="skill-img logo-react"></div>
        </div> 
    </div>

    <div class="skill-bar mt-3">
        <div class="skill-logo">
            <div class="skill-img logo-mongo"></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: #4FAA41;"></div>
        </div>
    </div>

    <div class="skill-bar mt-3">
         <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(53,53,53);"></div>
        </div>
        <div class="skill-logo">
            <div class="skill-img logo-express"></div>
        </div>
    </div>

    <div class="skill-bar mt-3">
        <div class="skill-logo">
            <div class="skill-img logo-node"></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(131,205,41)"></div>
        </div>
    </div>

    <div class="skill-bar mt-3">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(221,34,0);"></div>
        </div>
        <div class="skill-logo">
            <div class="skill-img logo-html"></div>
        </div> 
    </div>

    <div class="skill-bar mt-3">
        <div class="skill-logo">
            <div class="skill-img logo-css"></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(60,156,215)"></div>
        </div>
    </div>

    <div class="skill-bar mt-3">
         <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(242,37,54)"></div>
        </div>
        <div class="skill-logo">
            <div class="skill-img logo-git"></div>
        </div>
    </div>

    <div class="skill-bar mt-3">
        <div class="skill-logo">
            <div class="skill-img logo-github"></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: rgb(26,26,24)"></div>
        </div>
    </div> -->
</div>

