<% layout("./layouts/boilerplate") %>

<div class="skill-section ">
    <h2>MY SKILLS</h2>

    <div class="skills">
        <div class="skill-cards">
            <div class="skill-logo">
                <div class="skill-img"><div class="logo logo-react"></div></div>
                <div class="skill-img"><div class="logo logo-mongo"></div></div>
                <div class="skill-img"><div class="logo logo-sql"></div></div>
                <div class="skill-img"><div class="logo logo-node"></div></div>
            </div>
            <div class="skill-logo">
                <div class="skill-img"><div class="logo logo-express"></div></div>
                <div class="skill-img"><div class="logo logo-js"></div></div>
                <div class="skill-img"><div class="logo logo-css"></div></div>
                <div class="skill-img"><div class="logo logo-html"></div></div>
            </div>
        </div>

        <div class="skill-desc">
            <span>0.8</span>
            <p>Years <br>Experience <br> Working </p>
        </div>
    </div>

    <div class="other-skills">
        <h5>ADDITIONAL SKILLS</h5>
        <div class="other-bar">
             <div class="other-img"><div class="other-logo logo-tailwind"></div></div>
             <div class="other-img"><div class="other-logo logo-bootstrap"></div></div>
             <div class="other-img"><div class="other-logo logo-git"></div></div>
             <div class="other-img"><div class="other-logo logo-github"></div></div>

        </div>
    </div>
</div>

