<% layout("./layouts/boilerplate") %>
<div class="work-section">
  <div class="project-panel">
    <div class="p-head">
      <h2 class="project-head mt-5 mb-5">PROJECTS</h2>
      <a href="/work">See all</a>
    </div>
    <div class="project">
      <a
        href="https://baua-da-dhaba.onrender.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div
          class="card p-2"
          style="width: 18rem; height: 20rem; background-color: #ccc"
        >
          <img src="./essentials/Dhaba.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              A full-stack food ordering website where users can browse menus,
              place orders. Admins can manage food items and orders efficiently.
            </p>
          </div>
        </div>
      </a>

      <a
        href="https://wanderlust-project-54qt.onrender.com/listing"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div
          class="card p-2"
          style="width: 18rem; height: 20rem; background-color: #ccc"
        >
          <img src="./essentials/airbnb.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Airbnb-inspired web app highlighting expertise in database design,
              server-side logic, and dynamic front-end development
            </p>
          </div>
        </div>
      </a>

      <a
        href="https://moneymap-odv0.onrender.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div
          class="card p-2"
          style="width: 18rem; height: 20rem; background-color: #ccc"
        >
          <img src="./essentials/moneymap.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Track, manage, and analyze your daily spending effortlessly — a
              secure full-stack expense tracker with modern UI.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- <h1 >Specified Projects</h1>

<div class="project-panel">
   <div class="p-head">
      <h3 class="project-head mt-3 mb-5">FRONTEND PROJECTS</h3>
      <button>See all</button>
    </div> 
    <div class="project">
         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>
    </div>
</div>

<div class="project-panel">
   <div class="p-head">
      <h3 class="project-head mt-5 mb-5">BACKEND PROJECTS</h3>
      <button>See all</button>
    </div> 
    <div class="project ">
         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2" style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>

         <div class="card p-2 " style="width: 18rem; background-color: #ccc;">
            <img src="./essentials/airbnb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
         </div>
    </div>
</div> -->
</div>

<script>
  let pBtns = document.querySelectorAll(".p-head button");

  for (let btn of pBtns) {
    btn.addEventListener("click", () => {
      let project = btn.parentNode.parentNode.lastChild.previousSibling;
      console.log(project.classList);
      if (project.classList.contains("")) {
        project.classList.toggle("cardWrap");
      }
    });
  }
</script>
