a{
  text-decoration: none;

}

li{
  list-style: none;
}
 
.links{
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  font-size: medium;
  font-weight: 500; 
  
}

.links a{
  color: #ccc;
  transition: all 0.2s ease-in-out 0.2s ;
  transition: color 0.1s ease-in ;
}

.navbar{
  padding-top: 2rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  background: transparent;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.2s ease-in-out 0.2s ;
  z-index: 1;
  animation: navChange 3s ease-in-out forwards;
  animation-delay: 1s;
}

.navbar-brand a{
  font-size: xx-large;
  font-weight: bold;
  color: #fff;
}

.nav-contact a{
  border: 1px solid transparent;
  border-radius: 3rem;
  background-color: #0d6efd;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: small;
  font-weight: 500;
  margin-left: 3rem !important;
}

.toggle-icon {
  color: #fff;
  font-size: xx-large;
  display: none;
}



@media (max-width: 850px) {
  .links{
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 11vh;
    left: 30%;
    font-size: small;
    font-weight: bold;
  }
  .nav-contact a{
    padding: 0.25rem 0.5rem;
    scale: 0.6;
    margin-right: 2.5rem !important;
  }
  .navbar{
    padding-top: 1rem ;
    align-items: start;
    overflow: hidden;
    height: 10%;
  }

  .toggle-icon{
    display: block;
  }
  .navbar-brand{
    font-size: x-large
  }
}

@media (max-width: 480px) {
  .links{
    left: 20%;
    padding-left: 0;
    width: 20%;
  }
  .nav-contact{
    scale: 0.8;
    margin-right: 2rem !important;
  }
  .navbar{
    padding: 3% !important;
  }
  .navbar-brand{
    font-size: large;
  }
  .toggle-icon{
    margin-right: 5% !important;
  }
}

.toggle{
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2);
      /* Glass effect */
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    height: 37vh;
   }

.links a:hover {
    color: white;
}



.scrolled{
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
}



.nav-contact a:hover{
  background-color: hsl(216, 100%, 69%);
  font-weight: bold;
}

@keyframes navChange {
  to{
     background: rgba(255, 255, 255, 0.1); /* transparent white */
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
  }
}