 .skill-section{
    padding: 0 20vw;
    margin-top: 6rem ;
    margin-bottom: 10rem;
    text-align: center;
}

.skill-section h2{
    font-size: x-large;
    font-weight: bold;
}

/*
.skill-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 3rem;
} */

/* .skill-logo{
    height: 5rem;
    width: 5rem;
    background-color: rgb(50, 50, 79);
    border-radius: 0.2rem;
    transition: all 0.1s ease-in 0.1s;
}

.skill-logo:hover{
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: none;
}

.skill-img{
    height: 100%;
    background-size: cover;
    scale: 0.65;
} */

.logo-js{  
    background-image: url("./essentials/jsLogo.png");;
}

.logo-react{
  background-image: url("./essentials/reactLogo.png");
}

.logo-mongo{
    background-image: url("./essentials/mongoLogo.webp");
}

.logo-express{
    background-image: url("./essentials/expressLogo.png");
}

.logo-node{
    background-image: url("./essentials/nodejs.png");
}

.logo-html{
    background-image: url("./essentials/htmlLogo.png");
}

.logo-css{
    background-image: url("./essentials/cssLogo.png");
}

.logo-git{
    background-image: url("./essentials/git1.png");
}

.logo-github{
    background-image: url("./essentials/githubLogo1.png");
}

.logo-sql{
    background-image: url("./essentials/sqlLogo.png");
}

.logo-tailwind{
    background-image: url("./essentials/tailwindlogo.png");
}

.logo-bootstrap{
    background-image: url("./essentials/bootstraplogo.jpg");
}


.skills{
   height: 20rem;
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
   margin-bottom: 4rem ;
   transform: scale(0.95);
}

.skill-cards{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;

}

.skill-desc{
    height: 97%;
    width: 30%;
     background: rgba(255, 255, 255, 0.1); /* transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* Adjust intensity */
    color: #F2F4F8;
    font-size: x-large;
    font-weight: 700;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-desc span{
    font-size: 3rem;
    font-weight: 900;
}
.skill-logo{
    height: 49.5%;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
}

.skill-img{
    width: 24%;
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* Adjust intensity */
    height: 95%;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 4rem;
    width: 4rem;
    background-size: cover;
}

.other-skills{
    height: 10rem;
    width: 100%;
    
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* Adjust intensity */
    border-radius: 0.6rem;
    padding: 1rem;
}

.other-bar{
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.other-img{
    height: 6rem;
    width: 6rem;
}

.other-logo{
    height: 100%;
    width: 100%;
    background-size: cover;
    scale: 0.5;
}

@media (max-width: 850px){
    .skill-section{
        padding: 0 10vw;
        margin: 2rem 0 ;
    }
    .skills{
        transform: scale(0.8);
    }
    .other-skills{
        transform: scale(0.8);
    }
}

@media (max-width: 480px){
    .skill-section{
        padding: 0 ;
    margin-bottom: 4rem;
    }

    .skills{
        width: 100%;
        height: 13rem;
        margin-bottom: 1rem;
    }

    .skill-cards{
        width: 70%;
    }
    .skill-desc{
        width: 28%;
    }

    .skill-desc span, p {
        scale: 0.8;
    }

    .skill-img{
        width: 23%;
    }

    .logo{
        transform: scale(0.6);
    }

    .other-img{
        transform: scale(0.8);
    }
    


    
}

.skill-section h2{
     animation: appear 0.1s ease-in-out forwards ;
  animation-timeline: view();
  animation-range: entry 0% exit 2%;
 
}

.skills{
  animation: appear 0.1s ease-in-out forwards ;
  animation-timeline: view();
  animation-range: entry 0% exit 2%;
    backdrop-filter: blur(12px); /* Adjust intensity */

} 

.other-skills{
  animation: appear 0.1s ease-in-out forwards ;
  animation-timeline: view();
  animation-range: entry 0% exit 2%;
    backdrop-filter: blur(12px); /* Adjust intensity */
} 