 .skill-section{
    padding: 0 20vw;
    margin-top: 6rem ;
    margin-bottom: 10rem;
    /* padding: 7%; */
    text-align: center;
}

.skill-section h2{
    font-size: x-large;
    font-weight: bold;
}

/*
.skill-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 3rem;
} */

/* .skill-logo{
    height: 5rem;
    width: 5rem;
    background-color: rgb(50, 50, 79);
    border-radius: 0.2rem;
    transition: all 0.1s ease-in 0.1s;
}

.skill-logo:hover{
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: none;
}

.skill-img{
    height: 100%;
    background-size: cover;
    scale: 0.65;
} */

.logo-js{  
    background-image: url("./essentials/jsLogo.png");;
}

.logo-react{
  background-image: url("./essentials/reactLogo.png");
}

.logo-mongo{
    background-image: url("./essentials/mongoLogo.webp");
}

.logo-express{
    background-image: url("./essentials/expressLogo.png");
    /* scale: 0.7; */
}

.logo-node{
    background-image: url("./essentials/nodejs.png");
    /* background-size: contain; */
    /* scale: 0.3; */
}

.logo-html{
    background-image: url("./essentials/htmlLogo.png");
    /* scale: 1.5; */
}

.logo-css{
    background-image: url("./essentials/cssLogo.png");
}

.logo-git{
    background-image: url("./essentials/git1.png");
}

.logo-github{
    background-image: url("./essentials/githubLogo1.png");
}

.logo-sql{
    background-image: url("./essentials/sqlLogo.png");
}

.logo-tailwind{
    background-image: url("./essentials/tailwindlogo.png");
    /* scale: 3; */
}

.logo-bootstrap{
    background-image: url("./essentials/bootstraplogo.jpg");
    /* transform: scale(0.7); */
}

/* .progress{
    height: 0.7rem;
    width: 70%;
    background-color: white;
}

.progress-bar{
    background-color: pink;
    width: 70%;
} */

.skills{
   height: 20rem;
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
   margin-bottom: 4rem ;
   transform: scale(0.95);
}

.skill-cards{
    height: 100%;
    width: 65%;
    /* background-color: pink; */
    /* margin: 1%; */
    /* margin: 1% !important; */
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    /* justify-content: space-between; */

}

.skill-desc{
    height: 97%;
    width: 30%;
     background: rgba(255, 255, 255, 0.1); /* transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* Adjust intensity */
    color: #F2F4F8;
    font-size: x-large;
    font-weight: 700;
    border-radius: 0.6rem;
    /* margin: 1% !important; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 5rem 2rem; */
}

.skill-desc span{
    /* display: block; */
    font-size: 3rem;
    font-weight: 900;
}
.skill-logo{
    /* padding: 1%; */
    height: 49.5%;
    /* background-color: grey; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    background-size: cover;
    /* width: 25%; */
}

.skill-img{
    width: 24%;
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* Adjust intensity */
    height: 95%;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}

.logo{
    height: 4rem;
    width: 4rem;
    /* scale: 0.5; */
    background-size: cover;
}

.other-skills{
    height: 10rem;
    width: 100%;
    
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* Adjust intensity */
    border-radius: 0.6rem;
    padding: 1rem;
}

.other-bar{
    height: 70%;
    /* background-color: beige; */
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.other-img{
    height: 6rem;
    width: 6rem;
    /* background-color:black; */
    /* border-radius: 50%; */
    /* display: flex; */
    /* align-items: end; */
}

.other-logo{
    height: 100%;
    width: 100%;
    background-size: cover;
    scale: 0.5;
}

@media (max-width: 850px){
    .skill-section{
        padding: 0 10vw;
        margin: 2rem 0 ;
    }
    .skills{
        transform: scale(0.8);
    }
    .other-skills{
        transform: scale(0.8);
    }
}

@media (max-width: 480px){
    .skill-section{
        padding: 0 ;
            /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* height: 70vh; */
    margin-bottom: 4rem;
    }

    .skills{
        width: 100%;
        height: 13rem;
        margin-bottom: 1rem;
    }

    .skill-cards{
        width: 70%;
    }
    .skill-desc{
        width: 28%;
        /* scale: 0.8; */
    }

    .skill-desc span, p {
        scale: 0.8;
    }

    .skill-img{
        width: 23%;
    }

    .logo{
        transform: scale(0.6);
    }

    .other-img{
        transform: scale(0.8);
    }
    


    
}

.skill-section h2{
     animation: appear 0.1s ease-in-out forwards ;
  animation-timeline: view();
  animation-range: entry 0% exit 2%;
 
}

.skills{
  animation: appear 0.1s ease-in-out forwards ;
  animation-timeline: view();
  animation-range: entry 0% exit 2%;
    backdrop-filter: blur(12px); /* Adjust intensity */

} 

.other-skills{
  animation: appear 0.1s ease-in-out forwards ;
  animation-timeline: view();
  animation-range: entry 0% exit 2%;
    backdrop-filter: blur(12px); /* Adjust intensity */
} 